name: Request Activation File
on:
  workflow_dispatch:
jobs:
  activation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: game-ci/unity-builder@v4
        with:
          unityVersion: 6000.3.1f1 # your version
          targetPlatform: StandaloneWindows64
        env:
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
