name: test
on: workflow_dispatch
jobs:
  build-android:
    name: Build Android
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targetPlatform: [ StandaloneWindows64 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: CI/CD-integration
      - name: Cache Library
        uses: actions/cache@v4
        with:
          path: Library
          key: Library-${{ matrix.targetPlatform }}-${{ hashFiles('**/*.cs', '**/*.unity', '**/*.prefab', '**/*.asset') }}
          restore-keys: |
            Library-
      - name: Build ${{ matrix.targetPlatform }}
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          targetPlatform: ${{ matrix.targetPlatform }}
          unityVersion: 2022.3.10f1   # Change to your Unity version
          buildName: MyGame
          buildPath: build/${{ matrix.targetPlatform }}

      # Upload build artifacts
      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: Build-${{ matrix.targetPlatform }}
          path: build/${{ matrix.targetPlatform }}
